html{
  font-family: monospace;
  font-size: 16px;
}
body{
  background-color: rgb(5,60,0); 
  width: 60%;
  height: 100%;
  padding: 10px;
  border: 2px solid green;
  margin: 50px;
}
img {max-width: 100%; max-height:100%;}
em {font-style: italic;}


a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.cap{
  background-color:rgb(100, 0, 0);
}

.container {
 text-align: left;
 display: grid;
 align-items: center;
 grid-template-columns: 1fr;
 column-gap: 25px;
 display: flex;
 justify-content: center;
}
